body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

.row {
  text-align: center;
}

/*input {
  display: block;
  width: 30%;
  font-size: 2em;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 35%;
}*/

@media all and (max-width: 600px) {
  input {
    width: 100%;
    left: 0;
    top: 0;
  }
}